 /* styles.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
/*  background-color: white; */
}

header {
    background-color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #414839;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #414839;
    font-weight: 500;
}

.hero {
    background-image: url("http://localhost:3000/bg.png");
    background-position: center;
    background-size:110%; /* Adjust this percentage to zoom out more or less */
    color: #414839;
    text-align: left;
    padding: 100px 20px;
}

.hero-content h1 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 4em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.cta-button {
    background-color: #deb889;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #dddbba;
}

.features-section, .about-section, .contact-section {
    padding: 60px 20px;
    text-align: center;
    background-color: white;
    color: #414839;
}

.features-section h2, .about-section h2, .contact-section h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.feature-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-card {
    background-color: #deb889;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-section input, .contact-section textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background-color: #414839;
    color: white;
    padding: 20px;
    text-align: center;
}
